<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'blog:home-page' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog:post-list' %}">Posts</a>
      </li>
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'authentication_app:user-panel' %}">Panel</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'authentication_app:signup' %}">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'authentication_app:login' %}">Login</a>
        </li>
      {% endif %}
    </ul>
    
</nav>
  
<script>
  $('.navbar-nav .nav-link').on('click', function () {
      $('.navbar-nav .nav-link').removeClass('active');
      $(this).addClass('active');
      $('.navbar-collapse').collapse('hide');
  }); 
</script>