asgiref==3.8.1
certifi==2024.2.2
charset-normalizer==3.3.2
colorclass==2.2.2
Django==5.0.3
django-autoslug==1.9.9
django-js-asset==2.2.0
docopt==0.6.2
idna==3.6
packaging==24.0
pillow==10.2.0
pip-upgrader==1.4.15
requests==2.31.0
sqlparse==0.4.4
terminaltables==3.1.10
tzdata==2024.1
urllib3==2.2.1
