<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            
            {% endblock title %}
        </title>

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/fontawesome.min.js' %}"></script>
        <script src="{% static 'js/all.min.js' %}"></script>
    
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    {% endblock head %}
</head>
<body>
    {% comment %} {% include "partials/header.html"      %} 
    {% include "partials/navigation.html" %} {% endcomment %}
    {% block content %}

    {% endblock content %}

    {% block extra_content %}

    {% endblock extra_content %}

    {% comment %} {% include "partials/pagination.html" %} 
    {% include "partials/footer.html" %}  {% endcomment %}
</body>
</html>