{% extends "parent_page/base_page.html" %}
{% load static %}
{% block title %}Change Profile{% endblock title %}

{% block content %}


<div class="container bootstrap snippets bootdeys bg-light">
<div class="row">
  <div class="col-xs-12 col-sm-9">
    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="panel panel-default">
          <div class="panel-body text-center">
           <img src="{% if form.profile_photo %} {{form.profile_photo.value.url}} {% endif %}" class="img-circle profile-avatar" alt="User avatar" onclick="save_image(this)" title="click to change">
           <input type="file" name="{{form.profile_photo.name}}" id="img_input" accept="image/*" hidden>
          </div>
        </div>
      <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">User info</h4>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ form.username.label_tag }}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" maxlength="150" name="{{form.username.name}}" value="{{form.username.value}}">
                {{ form.username.errors }}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">{{ form.first_name.label_tag }}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="{{ form.first_name.name }}" value="{{form.first_name.value}}">
              {{ form.first_name.errors }}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">{{ form.last_name.label_tag }}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="{{form.last_name.name}}" value="{{form.last_name.value}}">
              {{ form.last_name.errors }}
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ form.age.label_tag }}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="{{form.age.name}}" value="{{form.age.value}}">
                {{ form.age.errors }}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">{{ form.bio.label_tag }}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="{{form.bio.name}}" value="{{form.bio.value}}">
                {{ form.bio.errors }}
            </div>
          </div>


        </div>
      </div>

        <div class="panel panel-default">
            <div class="panel-heading">
        <h4 class="panel-title">Contact info</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{form.email.label_tag}}</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" name="{{form.email.name}}" value="{{form.email.value}}">
                      {{ form.email.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ form.phone_number.label_tag }}</label>
                    <div class="col-sm-10">
                      <input type="tel" class="form-control" maxlength="11" name="{{form.phone_number.name}}" value="{{form.phone_number.value}}">
                      {{ form.phone_number.errors }}
                    </div>
                </div>
            </div>
        </div>

      <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">Security</h4>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">{{form.new_password.label_tag}}</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="{{form.new_password.name}}" id="new_pass">
              <div class=""><input type="checkbox" onclick="show_password($('#new_pass'))"> Show Password</div>
              {{ form.new_password.errors }}
            </div>
          </div>


          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="submit" class="btn btn-primary">UPDATE</button>
              <button type="reset" class="btn btn-dark">Reset</button>
              <a href="{% url 'authentication_app:user-panel' %}" class="btn btn-secondary">Return</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</div>

<script>
  function save_image(img) {
    var file_input = $('#img_input');

    file_input.on('change', function() {
      var file = this.files[0];
      if(file) {
        img.src = URL.createObjectURL(file);
      }
    });
    file_input.click();
  }

  function show_password(elem) {
    if (elem.attr("type") === "password")
        elem.attr("type", "text");
    else 
        elem.attr("type", "password");
  }

</script>

{% endblock content %}

