{% extends "parent_page/base_page.html" %}

{% block title %}PANEL : {{user.username}}{% endblock title %}

{% block content %}

  <div class="modal fade" id="post-delete-modal" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <form action="" method="POST" id="post-delete-form">
            {% csrf_token %}
            <div hidden id="id"></div>
            <h2>Delete Post</h2>
            <p>Are you sure you want to delete Post  "<span id='title'></span>" ?</p>
            <input type="submit" class="btn btn-danger" value="Yes, Delete it">
            <button type="button" class="btn btn-secondary mx-4" data-dismiss="modal">NO, Don't Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <form method="POST" hidden id="update-status-form">
    <label for="id_status">Post status:</label>
    <select name="status" id="id_status">
        <option value="published">PUBLISHED</option>
        <option value="draft" selected>DRAFT</option>
    </select>
  </form>

  <div class="container mt-5">
    <h1 class="mb-3">User Panel</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">User Information</h5>
                      <p><img src="{% if user.profile_photo %} {{ user.profile_photo.url }} {% endif %}" class="img-fluid" alt="Profile Photo"></p>
                      <p class="card-text"><strong>Username:</strong> {{ user.username }}</p>
                      <p class="card-text"><strong>Phone Number:</strong> {{ user.phone_number }}</p>
                      <a href="{% url 'authentication_app:user-profile' user.pk user.username %}" class="btn panel_btns my-1 btn-secondary">Profile</a>
                      <a href="{% url 'authentication_app:user-change-profile' user.pk %}" class="btn panel_btns my-1 btn-primary">Edit Profile</a>
                      <a href="{% url 'authentication_app:logout' pk=user.pk %}"   class="btn panel_btns my-1 btn-warning">Logout</a>
                      <a href="{% url 'authentication_app:delete-account' pk=user.pk %}"   class="btn panel_btns my-1 btn-danger">Delete Account</a>
                  </div>
            </div>
        </div>
        <div class="col-md-9">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-8"><h5 class="card-title">Your Posts</h5></div>
                <div class="col-4">
                  <a href="{% url 'blog:post-create' %}" class="btn panel_btns btn-success">Add Post</a>
                </div>
              </div>
              <br>
              {% if posts.count > 0 %}
                {% for post in posts %}
                  <div class="card my-5 single-post" id="id_post-{{post.pk}}">
                    <div class="card-title card-body">
                      <div class="row">
                        <div class="col-6"><h5>{{ post.title }}</h5></div>
                        <div class="col-6 my-3"><img src="{% if post.header_image %}{{post.header_image.url}}{% endif %}" style="max-width: 200px;max-height:300px;" alt="{{post.title}}"></div>
                      </div>
                      <div class="row">
                        <h5>created at : {{post.create_date}}</h5>
                      </div>
                      <div class="row">
                        <hr>
                        {% for paragraph in post.paragraphs.all %}
                          <div class="my-3">
                            <p>{{paragraph.topic}} : </p>
                            <p class="ms-3">{{paragraph.content}}</p>
                            <div class="text-center">
                              <img class="mb-2" src="{% if paragraph.header_image %}{{paragraph.header_image.url}}{% endif %}" alt="{{paragraph.topic}}" style="max-width: 200px;max-height:300px;">
                            </div>
                          </div>
                          <hr>
                        {% endfor %}
                      </div>
                        <div class="row">
                          <div class="col-1"></div>
                          <div class="col-3"><a href="{% url 'blog:post-detail' slug=post.slug %}" class="btn btn-primary">Goto Post</a></div>
                          <div class="col-3"><a href="{% url 'blog:post-update' slug=post.slug %}" class="btn btn-primary">Update</a></div>
                          {% if post.status == 'draft' %}
                          <div class="col-4">STATUS : <button id="status-btn" pk="{{post.pk}}" slug="{{post.slug}}" class="btn btn-secondary text-dark mx-2" onclick="changeStatus(this)" title="click to make it Publised">{{post.status}}</button></div>
                          {% else %}
                          <div class="col-4">STATUS : <button id="status-btn" pk="{{post.pk}}" slug="{{post.slug}}" class="btn btn-success mx-2" onclick="changeStatus(this)" title="click to make it Draft">{{post.status}}</button></div>
                          {% endif %}
                        </div>
                        <div class="row">
                          <button type="button" id="del-btn" pk="{{post.pk}}" slug="{{post.slug}}" ptitle="{{post.title}}" class="btn w-100 btn-danger mx-auto my-2" onclick="openDelForm(this)">DELETE POST</button>
                        </div>
                    </div>
                  </div>
                {% endfor %}
              {% else %}
                <p>You haven't posted anything yet.</p>
              {% endif %}
            </div>
          </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    
    function changeStatus(statusButton){
      let $status = statusButton.innerHTML;
      let pk = statusButton.getAttribute('pk');
      let slug = statusButton.getAttribute('slug');
      let postUrl = `/post-status-update/${pk}-${slug}/`;
      
      if($status == 'draft')
        $status = 'published';
      else
        $status = 'draft';
      
      $('#id_status').val($status);
      let postForm = $("#update-status-form");
      
      $.ajax({
        url: postUrl,
        method: 'POST',
        data: {
            form: postForm.serialize(),
            csrfmiddlewaretoken: '{{csrf_token}}',
            status: $status,
        },
        success: function(response) {
          if (response.success) {
              statusButton.innerHTML = $status;
              if($status == 'draft') {
                  statusButton.classList.add('btn-secondary', 'text-dark');
                  statusButton.classList.remove('btn-success'); 
                  statusButton.setAttribute('title','click to make it Published');
              } else {
                  statusButton.classList.add('btn-success');
                  statusButton.classList.remove('btn-secondary', 'text-dark');
                  statusButton.setAttribute('title','click to make it Draft');
              }
          }else{
              console.log(response.errors);
          }
        }
      });
    }
    // ---------------------------------------
    function openDelForm(delButton){
      let pk = $(delButton).attr('pk');
      let slug = $(delButton).attr('slug');
      let ptitle = $(delButton).attr('ptitle');
    
      $('#post-delete-modal #title').text(ptitle);
      $('#post-delete-modal #id').text(pk);
      $('#post-delete-modal #post-delete-form').attr('action', `/blog/post-delete/${pk}-${slug}/`);
      $('#post-delete-modal').modal('show');
    }


    $('#post-delete-form').on('submit', function (e) {
      e.preventDefault();

      let pk       = $('#post-delete-modal #id').text();
      let postUrl  = `/post-delete/${pk}/`;
      let postForm = $('#post-delete-form');

      $.ajax({
        url: postUrl,
        method: 'POST',
        data: {
            form: postForm.serialize(),
            csrfmiddlewaretoken: '{{csrf_token}}',
        },
        success: function(response) {
          $('#id_post-'+pk).remove();
          $('#post-delete-modal').modal('hide');
        }
      });
      
    });
    
    
    $('#post-delete-modal button[type="button"]').on('click', function () {
      $('#post-delete-modal').modal('hide');
    });


  </script>

{% endblock scripts %}
