{% extends 'home_page/home_page.html' %}

{% block title %} POST LIST {% endblock title %}


{% block content %}
  <div class="container">
    <div class="row my-3">
      <div class="col-md-5">
        <h1>Published Posts</h1>
      </div>
      <div class="col-md-7">
        <form class="input-group" method="get">
          <input type="text" class="form-control mx-2" placeholder="Search" name="search-area" value="{{search_input}}">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
          </div>
        </form>
      </div>
    </div>
    
    <div class="row">
      {% if posts.count %}
        {% for post in posts %}
          <div class="col-md-4"></div>
          <div class="col-md-8">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="{% if post.header_image %}{{post.header_image.url}}{% endif %}" alt="{{ post.title }}">
            <div class="card-body">
              <h4 class="card-title">{{ post.title }}</h4>
              <p class="card-text">{{ post.paragraphs.first.content|slice:":40"}}...</p>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{ post.publish_date|date }}</small>
                <div class="author-name">{{ post.author}}</div>
              </div>
              <div class="my-2">
                <a href="{{post.get_absolute_url}}" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
          </div>
        {% endfor %}
      {% else %}
        <h1>No Post Yet ... </h1>
      {% endif %}
    </div>
  </div>



{% endblock content %}


