{% extends "parent_page/base_page.html" %}

{% block title %} {{post.title}} {% endblock title %}

{% block content %}

    <h1>the post "{{post.title}}" detail : </h1>
    <p><img src="{% if post.post_header_image %}{{post.post_header_image.url}}{% endif %}" alt="There is no image" width="400px" height="320px"></p>
    <h3>{{post.title}}</h3>
    <p>{{post.body}}</p>
    
    {% for item in post_images %}
        <p><img src="{{item.image.url}}"></p>
    {% endfor %}
    
    <p>Written by "{{post.author}}"</p>


    <div id="comments">
        <h1 class="text-center bg-success">Comments</h1>
        {% for comment_obj in post_comments %}
            <div class="bg-primary text-white">
                <p>commenter : {{comment_obj.name}}</p>
                <p>Comment : {{comment_obj.comment}}</p>
                <p>written at : {{comment_obj.created_date}}</p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}