{% extends 'home_page/home_page.html' %}

{% block title %} POST LIST {% endblock title %}


{% block content %}
    <div class="text-dark">
        this is post list
    </div>
    
    
    
    {% for post in posts %}
        <div class="">
            <p><img src="{% if post.post_header_image %}{{post.post_header_image.url}}{% endif %}" alt="There is no image" width="200px" height="160px"></p>
            <p><a href="{% url 'blog:post_detail' post.pk %}">{{post.title}}</a></p>
            <p>Author : {{post.post_author}}</p>
        </div>
        <hr><hr><br>
    {% endfor %}



{% endblock content %}


